chromium/
dconf/
gtk-3.0
pulse
rog
pavucontrol.ini
rncbc.org
systemd
yay
Mullvad VPN/
flameshot/
go/
mimeapps.list
pulse/
"Unknown Organization/"
zoom.conf
zoomus.conf
qBittorrent/
spotify/
vlc/
BraveSoftware/
jellyfin/
Session/
QtProject.conf
