chromium/
mozilla/
dconf/
Code/
gtk-3.0
gtk-4.0
btop/
htop/
tree-sitter/
pulse
rog
pavucontrol.ini
rncbc.org
systemd
yay
Mullvad VPN/
flameshot/
go/
mimeapps.list
pulse/
"Unknown Organization/"
zoom.conf
zoomus.conf
qBittorrent/
spotify/
vlc/
BraveSoftware/
jellyfin/
Session/
QtProject.conf
nextjs-nodejs/
environment.d/
Ryujinx/
discord/
godot/
fontconfig/
tmux/plugins/
obsidian/

//All of celestias shit
BetterDiscord/
Equicord/
Vencord/
caelestia/
cava/
equibop/
fuzzel/
legcord/
nvtop/
qt5ct/
qt6ct/
spicetify/
vesktop/
